[Unit]
Description=MX Arch Updater system monitor
After=network.target

[Service]
Type=dbus
BusName=org.mxlinux.UpdaterSystemMonitor
ExecStart=/usr/bin/mx-updater-system-monitor
Restart=on-failure

[Install]
WantedBy=multi-user.target
