[Unit]
Description=MX Arch Updater tray
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/mx-updater-systray --autostart
Restart=on-failure

[Install]
WantedBy=graphical-session.target
