[Unit]
Description=Update Notifier Qt tray
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/update-notifier-systray --autostart
Restart=on-failure

[Install]
WantedBy=graphical-session.target
